@media only screen and (max-width:501px) {
    .imgs {
        height: 1.7rem;
        object-fit: contain;
    }
}
@media only screen and (min-width:2501px) {
    .imgs {
        height: 6.7rem;
        object-fit: contain;
    }
}